.n.d-inline-block align-text-top{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: pink;
}
.opening.image>img{
    width: 100vw;
}
h2{
display: flex;
justify-content: center;
color: rgb(140, 14, 64);
margin-top: 20px;
padding:10px;
}
h5{
    display: flex;
    justify-content: center;
    color: rgb(140, 14, 64);
    margin-top: 20px;
    padding:10px; 
}
h6{
    font-family: serif;
    font-size: larger;
    margin-top: 20px;
    padding:10px;
    margin-right:15vw;
    margin-left: 15vw;
}
.card-img-top{
    height:40vh;
    width:30vw;
}
.row.row-cols-1.row-cols-md-2.g-4{
    margin-top: 20px;
    margin-left: 15vw;
    margin-right: 15vw;
}
.card{
    width:30vw;
    
}

h3{
    display: flex;
    justify-content: center;
font-family: serif;
color: rgb(129, 7, 102);
margin:20px,20px,20px,20px
}
#contactUs{
    
    margin-left: 20vw;
    margin-right:20vw;
}
.card-body{
    font-family: serif;
}
#gallery>{
    /* display: flex;
 flex-direction: row;
 flex-flow: wrap; */
}

#gallery>.img-fluid{
    margin-top: 20px;
    margin-bottom: 20px;
    margin-left: 20vw;
    margin-right: 20vw;
    border: 1rem solid white;
    
}
/* .pic{
max-width: fit-content;
max-height: fit-content;
} */
.pic{
    display: flex;
    flex-direction: row;
   
}
.pic>.img-fluid{
    margin-top: 20px;
    margin-bottom: 20px;
    margin-left: 20vw;
    margin-right: 10vw;
    border: 1rem solid white;
    
}
.figure-caption{
    
    font-weight: 500;
    font-family: serif;
    font-size: xx-large;
    color: white;
    display: block;
    margin: auto;
    border: 3px solid white;
    padding: 1rem;
    border-radius: 1rem;
    margin-left: 10vw;
    cursor: pointer;
}
hr{
    
        border: 1px solid rgb(255, 253, 253);
      
}
.footer{
    text-align: center;
    background-color: rgb(217, 122, 190);
}

a{
    text-decoration: none;
}
a:link,a:visited{
    color: black;

}
#contactUs{
    margin-top: 10vh;
    margin-left: 15vw;
    margin-right: 20vw;
    margin-bottom: 10vh;
    font-family: serif;
    font-weight: 700;
    font-size: larger;
    padding:10px;
}
.enquiry-form{
    margin: auto;
    text-align: center;
    border: 2px solid blue;
}

