*{
    box-sizing: border-box;
}
.n.d-inline-block align-text-top{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: pink;
}
.opening.image>img{
    width: 100vw;
}
h2{
display: flex;
justify-content: center;
color: rgb(140, 14, 64);
margin-top: 20px;
padding:10px;
}
h5{
    display: flex;
    justify-content: center;
    color: rgb(140, 14, 64);
    margin-top: 20px;
    padding:10px; 
}
h6{
    font-family: serif;
    font-size: larger;
    margin-top: 20px;
    padding:10px;
    margin-right:15vw;
    margin-left: 15vw;
}
.card-img-top{
    height:40vh;
    width:30vw;
}
.row.row-cols-1.row-cols-md-2.g-4{
    margin-top: 20px;
    margin-left: 15vw;
    margin-right: 15vw;
}
.card{
    width:30vw;
    
}

h3{
    display: flex;
    justify-content: center;
font-family: serif;
color: rgb(129, 7, 102);
margin:20px,20px,20px,20px
}
#contactUs{
    
    margin-left: 20vw;
    margin-right:20vw;
}
.card-body{
    font-family: serif;
}


#gallery>.img-fluid{
    margin-top: 20px;
    margin-bottom: 20px;
    margin-left: 20vw;
    margin-right: 20vw;
    border: 1rem solid white;
    
}
/* .pic{
max-width: fit-content;
max-height: fit-content;
} */
.pic>img{
    object-fit: contain;
}
.pic{
    display: flex;
    flex-direction: row;
   flex-wrap: wrap;
}
.pic>.img-fluid{
    margin-top: 20px;
    margin-bottom: 20px;
    margin-left: 20vw;
    margin-right: 10vw;
    border: 1rem solid white;
    height: 40vh;
    width: 25vw;
    object-fit: cover;
}
.figure-caption{
    font-family: serif;
    width: 10vw;
    text-align: center;
    color: white;
    display: block;
    margin: auto;
    border: 3px solid white;
    padding: 1rem;
    border-radius: 1rem;
    margin-left: 10vw;
    cursor: pointer;
    background-color: rgb(140, 14, 64);
}
hr{
    
        border: 2px solid rgb(255, 253, 253);
      
}
.footer{
    text-align: center;
    background-color: rgb(217, 122, 190);
}

a{
    text-decoration: none;
}
a:link,a:visited{
    color: black;

}
#contactUs{
    margin-top: 10vh;
    margin-left: 15vw;
    margin-right: 20vw;
    margin-bottom: 10vh;
    font-family: serif;
    font-weight: 700;
    font-size: larger;
    padding:10px;
    
}
.my-btn{
    border-color: rgb(140, 14, 64);
   
}
.my-btn:hover{
    background-color:rgb(140, 14, 64);
    color: white;
}
#contactUs>h5{
    text-align: center;
}
.enquiry-form{
    width: 30vw;
    
    /* line-height: 2rem;

    position: relative; */
    display: block;
    margin: auto;
    margin-top: 10rem;
}

.enq{
    

    background-image: url(https://images.pexels.com/photos/5874691/pexels-photo-5874691.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1);
    /* background-repeat:no-repeat; */
    background-size: cover;
    height: 100%;
    
}
.enq>h2{
    background-color: aliceblue;
}


@media only screen and (max-width: 600px) {
    #gallery{
        display: flex;
        flex-direction: column;
         
    }
    
   
    
    
    #gallery>.pic{
        
        display: flex;
        flex-direction: column;
        flex-wrap: nowrap;
        height: 70%;
        width: 80%;
        margin-right: 10rem;

    }

    #gallery>.pic>.img-fluid{
        border: 2px solid white;
        width: 100%;
        margin-left: 4rem;
       
    }
    #gallery>.pic>.figure-caption{
        margin-inline-start: 5rem;
    width: inherit;
    }
    .col>.card{
        width: auto;
    }
    .col>.card>img{
        width: auto;
    }
    #contactUs>.card{
        width: 64vw;
        margin: auto;
        margin-block-start: 2rem;
    }
    #contactUs{
        margin-left: 1vw;
        margin-right: auto;
    }
}


